/* Placeholder for header and footer */
body {
  padding-top: 65px;
  padding-bottom: 50px;
  margin: 0 0;
}

/* Initial color setup */
.navbar,
.nav {
  background-color: #6314a8;
}

/* Brand logo format */
.navbar-brand {
  max-width: 60vw;
  height: auto;
}

/* Hide white navbar icon and show the grey one when hovered  */
.navbar-toggler #grey {
  display: none;
}
.navbar-toggler:hover #white {
  display: none;
}
.navbar-toggler:hover #grey {
  display: inline-block;
}

/* Format the menu behavior (normal, hover and selected) */
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  padding: 0px 8px;
  margin: 8px 16px 8px 8px;
  border-radius: 5px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: rgb(185, 185, 185);
  color: #6314a8;
}
.navbar-dark .navbar-nav .nav-link.active {
  background-color: whitesmoke;
  color: #6314a8;
}

/* Footer icons format */
.fa {
  color: white;
  padding: 8px;
  font-size: 24px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  margin: 4px 12px;
}
.fa:hover {
  color: rgb(185, 185, 185);
}

.name {
  display: block;
  margin: 2rem auto 0 auto;
  width: fit-content;
  text-align: center;
  color: black;
}

.principal {
  /* width: 90vw; */
  margin: 2rem auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 300px;
  height: auto;
  margin: auto auto;
  padding: 2rem;
  border-radius: 2.5rem;
  filter: brightness(80%) drop-shadow(0.3rem 0.3rem 1rem black);
}
.simple-list {
  margin: 0 0;
  padding: 2rem;
  width: auto;
  list-style: none;
}
li {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .principal {
    grid-template-columns: 1fr;
  }
}

.bottom-txt {
  margin: 0 0;
  padding: 2rem;
  border-top: 1px solid rgba(204, 204, 204, 0.603);
}
